<h1>Eat Da Burger!</h1>

<h2>Nice and juicy</h2>

<ul>
{{#each burgers}}
  
  {{#unless devoured}}
    {{>partial}}
  {{/unless}} 
{{/each}}

</ul>

<h2>I'm so full</h2>

<ul>
{{#each burgers}}
  {{#if devoured}}
  {{> partial}}
  
    {{/if}}

  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="createBurger">Burger Name:</label>
    <input type="text" id="createBurger" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
